.title-menu {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    button {
        margin-left: 10px;
        border-radius: 10px;
        font-size: 17px;
        padding: 5px 15px;
        background-color:#F59145 ;
        border: none;
        font-weight: 600;
        color: white;
        cursor: pointer;
        transition-duration: 400ms;

        &:hover{
            background-color: black;

        }
    }
    
}

.active {
    background-color: black!important;
}