.message-container {
    border: 1px solid black;
    margin: 10px 0px; 
    padding: 10px;
    cursor: pointer;
    display: flex;
    &:hover{
        background: rgba(0,0,0,0.2);
    }
    .left-container, .right-container {
        width: 50%;
    }
    .right-container {
        text-align: right;
    }
    
}
.msg-read {
    background-color: greenyellow;
}
.msg-unread {
    background-color: red;
}

